.products-wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.products-wrapper .product-item {
  width: 30%;
}
.products-wrapper .product-item img {
  width: 100%;
  max-height: 200px;
  padding: 2px;
  border: 1px solid #c0c0c0;
}
.products-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.products-wrapper .product-item button {
  display: block;
  width: 100%;
  border: 0;
  background: #2a5ea5;
  color: #fff;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
}
.products-wrapper .product-item button:hover {
  background: #3778d3;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .products-wrapper .product-item {
    width: 83%;
  }
  .products-wrapper .product-item img {
    width: 100%;
    max-height: 280px;
  }
}